* {
  margin: 0;
  padding: 0;
  z-index: 10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.container {
  background: url("../image/1.jpg") no-repeat;
  background-size: cover;
  background-position-y: -80px;
  color: white;
  padding: 20px 30px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.616);
}

.header {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  color: #ee5a24;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 10px;
}

.menu {
  padding-top: 10px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 19px;
  text-transform: uppercase;
}

.menu ul li a:hover {
  color: #ee5a24;
}

.frm-sc input {
  padding: 15px 100px 15px 10px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ee5a24;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: white;
}

.frm-sc button {
  padding: 15px 25px;
  background: #ee5a24;
  border: 1px solid #ee5a24;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

.content-body {
  display: flex;
  margin-top: 140px;
  min-height: 600px;
}

.left-con {
  width: 40%;
}

.left-con h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
}

.special {
  color: #ee5a24;
  letter-spacing: 5px;
}

.left-con p {
  font-weight: 400;
  word-spacing: 5px;
  line-height: 25px;
  margin: 30px 0;
}

.join {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 25px;
  background-color: #ee5a24;
  text-decoration: none;
  border: 1px solid #ee5a24;
  color: black;
  border-radius: 10px;
}

.right-con {
  width: 60%;
  position: relative;
}

.log-in {
  background: rgb(0, 0, 0);
  width: 30%;
  position: absolute;
  left: 35%;
  padding: 20px 30px;
  border-radius: 7px;
}

.log-in h4 {
  width: 100%;
  background: white;
  color: #ee5a24;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0;

  border-radius: 10px;
}

.log-in form input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ee5a24;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.log-in form button {
  width: 100%;
  margin-top: 13px;
  padding: 10px 20px;
  background: #ee5a24;
  border: 1px solid #ee5a24;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

.extra {
  margin-top: 20px;
  text-align: center;
}

.ex-two {
  color: #ee5a24;
  text-decoration: none;
  font-weight: bold;
}

.ex-three {
  font-size: 13px;
  margin-top: 15px;
  font-weight: bold;
}

.login-ico ul {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.login-ico ul li {
  list-style: none;
}

.login-ico ul li a {
  color: white;
  padding: 15px;
  font-size: 20px;
}

.login-ico ul li a:hover {
  color: #ee5a24;
}
